* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
}

button {
    padding: 16px 24px;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    background-color: transparent;
    color: #ffff;

    display: flex;
    align-items: center;
    gap: 12px;
}